#info_section {
    width: 455px;
    height: 580px;
    padding: 0px 40px;
    margin-top: 6em;
    
    color: #fff;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rating {
    display: flex;
    align-items: center;
    gap: 12px;

    font-weight: 600;
    font-size: 20px;
}

.detalhe {
    display: flex;
    align-items: center;
    gap: 10px;
}

#ano,
#classificacao,
#tipo {
    font-size: 24px;
}

#descricao {
    width: 100%;
    height: 352px;
    overflow-y: auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;

    text-align: left;
}
#descricao::-webkit-scrollbar {
    width: 0.3rem;
}

#descricao::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.4);
}

#descricao::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.8);
}

#logo_movie {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 48px;
}

#info_section button { 
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 250px;
    height: 70px;
    padding: 20px 30px;

    font-size: 20px;
    font-weight: 500;
    color: #fff;
    line-height: 24px;

    border: none;
    border-radius: 50px;

    background: linear-gradient(154.23deg, #0F3A7B -58.45%, #0CFFFF 374.49%);
    box-shadow: 0px 3px 50px 0px rgba(0, 0, 0, 0.1608);

    cursor: pointer;
    transition: all 0.2s ease;
}

#info_section button:hover {
    scale: 1.03;
}

@media screen and (max-width: 530px) {
    #ano,
    #classificacao,
    #tipo {
        font-size: 18px;
    }

    #logo_movie {
        font-size: 32px;
    }

    #descricao {
        font-size: 18px;
        height: 210px;
    }

    #info_section button {
        width: 200px;
        height: 50px;
        padding: 20px 30px;
        font-size: 15px;

        display: flex;
        gap: 12px;
    }

    #info_section { 
        margin-top: 0px;
    }
}

@media screen and (max-width: 415px) {
    #ano,
    #classificacao,
    #tipo,
    #rating_number {
        font-size: 16px;
    }

    #logo_movie {
        margin-top: 20px;
        font-size: 24px;
    }

    #descricao {
        font-size: 12px;
        height: 150px;

        line-height: 23px;
    }

    #info_section {
        margin-top: 30px;
    }

    #info_section button {
        margin-top: 10px;
        padding: 0px 16px;
        font-size: 12px;
        display: flex;
        gap: 5px;

        width: 145px;
    }

    #info_section button img {
        width: 15px;
    } 
    
    .rating img {
        width: 40px;
    }
}

@media screen and (max-width: 321px) {
    #logo_movie {
        margin-top: 0px;
        font-size: 18px;
    }

    #info_section {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    #descricao {
        line-height: 20px;
        height: 120px;
    }

    #ano,
    #classificacao,
    #tipo,
    #rating_number {
        font-size: 14px;
    }
}

